In [4]:
def sleep_in(weekday, vacation):
    if weekday != True or vacation == True:
        return True
    else:
        return False

In [5]:
sleep_in(True, False)

False

In [6]:
sleep_in(False, True)

True

In [11]:
def monkey_trouble(a_smile, b_smile):
    return not(a_smile^b_smile)

In [12]:
monkey_trouble(False, True)

False

In [13]:
def sum_double(a, b):
    if a == b:
        return (a+b)*2
    else:
        return a+b

In [15]:
def diff21(n):
    if n <= 21:
        return 21-n
    else:
        return (n-21)*2

In [16]:
def parrot_trouble(talking, hour):
    return talking and (hour > 20 or hour < 7)

In [17]:
def makes10(a, b):
    return (a == 10 or b == 10 or a+b == 10 )

SyntaxError: unexpected EOF while parsing (<ipython-input-17-4c38444005bf>, line 1)

In [18]:
def near_hundred(n):
    if (abs(n-100) <= 10) or (abs(n-200) <= 10):
        return True
    else:
        return False

In [19]:
near_hundred(111)

False

In [20]:
near_hundred(90)

True

In [25]:
def pos_neg(a, b, negative):
    if negative == True:
        if a < 0 and b < 0:
            return True
        else:
          return False
    else if negative == False:
        if (a > 0 and b < 0) or (a < 0 and b > 0):
            return True 
        else:
          return False

SyntaxError: invalid syntax (<ipython-input-25-a7246050e3d4>, line 7)

In [26]:
str ="abc"

In [27]:
str[0]

'a'

'bc'

In [31]:

def not_string(str):
    if len(str) < 3 or str[0:4] != "not":
        return_string = "not " + str
        return return_string
    else:
        return str

In [32]:
str = "not bad"

In [33]:
str[0:4]

'not '

In [45]:
def missing_char(str, n):
    return (str[0:n] + str[n+1:len(str)])

In [44]:
missing_char("Kitten",1)

K
tten
tten

In [48]:
def front_back(str):
    if len(str) > 1:
        return str[len(str)-1] + str[1:len(str)-1] + str[0]
    else:
        return str

In [49]:
front_back("harshit")

'tarshih'

In [50]:
def front3(str):
    if len(str) <= 3:
        return str*3
    else:
        return str[:3]*3

In [51]:
front3("Java")

'JavJavJav'

In [10]:

a = {1:"one", 2:"two", 3: "three"}

In [15]:
for x,y in a.items():
    print(f'{x}+{y}')

1+one
2+two
3+three

In [16]:
a = []

In [17]:
word = "abcd"

In [18]:
a = [e for e in word]

In [19]:
a

['a', 'b', 'c', 'd']

In [20]:
str(a)

"['a', 'b', 'c', 'd']"

In [21]:
def myfunc(a,b=0):
    print(a)
    print(b)

In [22]:
myfunc(3)

3
0

In [25]:
def myfunc(*args):
    sum = 0
    for num in args:
        sum = sum + num
    return sum

In [26]:
myfunc(1,2,3,5)

11

In [39]:
def myfunc(string):
    index = 0;
    string1 = ""
    
    for letter in string: 
        if index%2 == 0:
            string1 += letter.lower()
        else: 
            string1 += letter.upper()
        
        index = index + 1;    
            
    return string1

In [40]:
myfunc("HArshit")

'hArShIt'

In [35]:
string = "ABC"
string[1].lower()

'b'

In [36]:
string

'ABC'

In [41]:
lst = []

In [46]:
lst = [x for x in range(3,100,2)]

In [47]:
lst

[3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [51]:
lst1 = [j for j in range(3,int(3**1/2) + 1,2)]
lst1

[]

[3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [52]:
5**1/2 + 1

3.5

In [56]:
lst = [1,0,0,0,0,0,0]
len(lst)

7